# IMPORTING ALL THE LIBRARIES.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# LOADING THE DATASET.

In [2]:
data = pd.read_csv(r"C:\Users\pc\Downloads\ml-latest-small (2)\ml-latest-small\ratings.csv")

In [3]:
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
# REMOVING THE timestamp featrue as to create the user - item matrix we only need userid , movie-id, rating of the movie.
data=data.drop('timestamp',axis=1)

In [5]:
data.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [6]:
data.shape

(100836, 3)

In [7]:
data['userId'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
      dtype=int64)

In [8]:
data['userId'].value_counts()

414    2698
599    2478
474    2108
448    1864
274    1346
       ...
442      20
569      20
320      20
576      20
53       20
Name: userId, Length: 610, dtype: int64

In [9]:
data['movieId']

0              1
1              3
2              6
3             47
4             50
           ...
100831    166534
100832    168248
100833    168250
100834    168252
100835    170875
Name: movieId, Length: 100836, dtype: int64

# CREATING USER - ITEM MATRIX FOR PERFORMING MATRIX FATORIZATION WHICH IS COLABORATIVE BASED MOVIE RECOMMENDATION SYSTEM.

FINDING THE UNIQUE MOVIE ID AND UNIQUE ITME ID TO CREATE THE USER-ITEM-MATRIX.

In [10]:
unique_user_ids=len(data['userId'].unique())
unique_movie_ids=len(data['movieId'].unique())
user_item_matrix=np.zeros((unique_user_ids,unique_movie_ids))

In [11]:
data[data['movieId']==1]

       userId  movieId  rating
0           1        1     4.0
516         5        1     4.0
874         7        1     4.5
1434       15        1     2.5
1667       17        1     4.5
...       ...      ...     ...
97364     606        1     2.5
98479     607        1     4.0
98666     608        1     2.5
99497     609        1     3.0
99534     610        1     5.0

[215 rows x 3 columns]

CREATING USER ITEM MATRIX.

In [ ]:
for i in range(0,len(data['movieId'].unique())):
    user_voted=np.array(data[data['movieId']==data['movieId'].unique()[i]].userId)
    user_votes=np.array(data[data['movieId']==data['movieId'].unique()[i]].rating)
    for j in range(0,len(data['userId'].unique())):
        if data['userId'].unique()[j] in user_voted:
            rating=user_votes[list(user_voted).index(data['userId'].unique()[j])]
            user_item_matrix[j][i]=rating
        else:
            user_item_matrix[j][i]=0

In [12]:
user_item_matrix=pd.read_pickle(r"C:\Users\pc\Downloads\user_item_matrix.pkl")

In [13]:
user_item_matrix[0]

0      4.0
1      0.0
2      0.0
3      0.0
4      4.0
      ...
605    2.5
606    4.0
607    2.5
608    3.0
609    5.0
Name: 0, Length: 610, dtype: float64

In [14]:
len(data['movieId'].unique())

9724

In [15]:
data[data['userId']==1]

     userId  movieId  rating
0         1        1     4.0
1         1        3     4.0
2         1        6     4.0
3         1       47     5.0
4         1       50     5.0
..      ...      ...     ...
227       1     3744     4.0
228       1     3793     5.0
229       1     3809     4.0
230       1     4006     4.0
231       1     5060     5.0

[232 rows x 3 columns]

In [16]:
user_item_matrix=pd.DataFrame(user_item_matrix)

In [17]:
user_item_matrix.head(10)

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,5.0,4.0,4.0,1.0,0.0,0.0,5.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4.5,0.0,0.0,0.0,4.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,4.0,5.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
user_item_matrix.to_pickle('user_item_matrix.pkl')

In [19]:
user_item_matrix.isna().sum()

0       0
1       0
2       0
3       0
4       0
       ..
9719    0
9720    0
9721    0
9722    0
9723    0
Length: 9724, dtype: int64

# CREATING A CLASS TO COMPUTE THE MATRIX FACTORIZATION.

In [20]:
class Matrix_Factorization():
    def __init__(self,epochs=10,features=3,learning_rate=0.001):
        # INITIALIZING THE USER AND ITEMS FEATUES WITH RANDOM VALUES.
        self.user_features=np.random.rand(user_item_matrix.shape[0],features)
        self.item_features=np.random.rand(user_item_matrix.shape[1],features).T
        self.epochs=epochs
        self.learning_rate=learning_rate
        self.features=features
    def _compute_MF(self,y_true):
        for i in range(self.epochs):
            for j in range(y_true.shape[0]):
                for k in range(y_true.shape[1]):
                    if y_true[j][k]>0:
                        loss=y_true[j][k]-np.dot(self.user_features[j,:],self.item_features[:,k])
                        for l in range(self.features):
                            self.user_features[j][l]=self.user_features[j][l]+(2*self.learning_rate*loss*self.item_features[l][k])
                            self.item_features[l][k]=self.item_features[l][k]+(2*self.learning_rate*loss*self.user_features[j][l])
            print('done')
        return(np.dot(self.user_features,self.item_features))

In [21]:
mf=Matrix_Factorization()

In [23]:
y_pred=mf._compute_MF(np.array(user_item_matrix))

done
done
done
done
done
done
done
done
done
done

In [25]:
pd.DataFrame(y_pred)

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,4.827237,4.072786,4.928790,5.004694,5.386011,4.280991,4.951775,5.194365,4.414898,3.749612,...,2.336903,2.806283,3.750665,3.681166,1.818045,2.205404,2.093560,2.923123,2.852288,1.132362
1,3.952278,3.173321,3.882416,4.010578,4.274327,3.526490,3.636502,3.977759,3.759022,3.014805,...,2.296052,2.238261,2.748614,2.877623,1.677612,1.363247,1.838594,2.066414,2.229729,0.963333
2,2.573228,2.228185,2.622456,2.636508,2.928544,2.272207,2.571343,2.761942,2.398845,1.955548,...,1.433445,1.401879,1.937291,1.831379,1.176633,0.971426,1.100320,1.464268,1.456412,0.651437
3,3.869349,3.059313,3.754142,3.898937,4.145098,3.458734,3.430712,3.810187,3.725560,2.933395,...,2.370346,2.170306,2.590773,2.771658,1.706441,1.193462,1.837502,1.920490,2.148785,0.955631
4,3.807515,2.962532,3.743393,3.910321,4.023463,3.413418,3.598235,3.834902,3.554228,2.970698,...,1.928249,2.302333,2.735925,2.973943,1.295654,1.621137,1.799583,2.128694,2.245582,0.853973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,4.047615,3.252125,4.003197,4.134804,4.375326,3.612203,3.821484,4.121713,3.806863,3.114839,...,2.209416,2.341730,2.893910,3.024699,1.599406,1.554890,1.869188,2.209497,2.327871,0.960429
606,4.115575,3.591743,4.236295,4.248084,4.704933,3.630982,4.241482,4.492413,3.786436,3.153607,...,2.141912,2.282429,3.200359,2.999438,1.777537,1.724567,1.730792,2.453358,2.374125,1.019808
607,3.702137,3.091063,3.764008,3.836269,4.101037,3.288085,3.767665,3.954449,3.390801,2.880281,...,1.788379,2.169060,2.855708,2.840589,1.363687,1.692634,1.623560,2.228500,2.191628,0.860554
608,3.410351,2.656669,3.348051,3.495871,3.607688,3.056645,3.202310,3.426375,3.193506,2.653550,...,1.762636,2.048025,2.433407,2.642553,1.193324,1.412677,1.613211,1.885144,1.999914,0.772255
609,4.240714,3.508865,4.273053,4.368453,4.672197,3.770353,4.202879,4.460707,3.926155,3.279590,...,2.169525,2.456742,3.182750,3.201762,1.637930,1.800823,1.888348,2.458676,2.475371,1.001405

In [26]:
user_item_matrix

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.5,0.0,0.0,3.0,4.5,4.0,0.0,3.5,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,4.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,2.5,2.0,0.0,4.5,4.5,3.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,5.0,0.0,5.0,5.0,4.0,4.0,0.0,4.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
'''class Matrix_Factorization():
    # CREATING THE CONSTRUCTOR OF THE CLASS.
    def __init__(self,epochs=10,features=1000,learning_rate=0.0002):
        # INITIALIZING THE USER AND ITEMS FEATUES WITH RANDOM VALUES.
        self.user_features=np.random.rand(user_item_matrix.shape[0],features)
        self.item_features=np.random.rand(user_item_matrix.shape[1],features).T
        self.epochs=epochs
        self.learning_rate=self.learning_rate
    def MF_backward_pass(self,y_actual,y_pred):
        du=-2*np.dot(y_actual-y_pred,self.item_features.T)/user_item_matrix.shape[0]
        di=-2*np.dot(self.user_features.T,y_actual-y_pred)/user_item_matrix.shape[0]
        self.user_features=self.user_features-du*self.learning_rate
        self.item_features=self.item_features-di*self.learning_rate
        
    def MF_forward_pass(self,user_item_matrix):
        for i in range(0,self.epochs):
            MF_pred=np.dot(self.user_features,self.item_features)
            self.MF_backward_pass(user_item_matrix,MF_pred)
        return(MF_pred)
            
            '''

In [ ]:
'''mf=Matrix_Factorization(100,3,0.2)
final_pred_MF=mf.MF_forward_pass(np.array(user_item_matrix))'''

In [ ]:
'''final_pred_MF'''